.button {
  font-family: sans-serif;
  background: rgb(0, 113, 235);
  border-color: rgb(0, 113, 235);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover,
.button:active {
  box-shadow: rgb(20 30 55 / 70%) 0px 2px 4px 0px;
  background: rgb(38, 151, 255);
  border-color: rgb(38, 151, 255);
}

.button:focus {
  outline: none;
}